/* Affatato CSS for index.html */

@charset "utf-8";


/* HTML and Body Styles */

html {
   background-color: rgb(128, 128, 128);
   font-family: Verdana, Geneva, Arial, sans-serif; 	
}

body {
   background-color: rgb(   36, 113, 163 );  
}

body {
  background-image: url('background.jpg');
}


/* Horizontal Navigation Styles */


nav.horizontalNavigation a {
   background-color: rgb(213, 216, 220);
   font-size: 1.4em;
   line-height: 1.8em;
   margin: 0px;
   justify-content: space-around;
   
}  


nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: rgb(41, 128, 185);
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: rgb(0, 0, 0);
}   


/* Left Column Paragraph Styles */

section#leftColumn p {
   color: rgb(255, 255, 255);
   font-size: 0.9em;
   line-height: 1.6em;
}


/* Footer Styles */

footer {
   color: rgb(41, 128, 185);
   background-color: rgb(213, 216, 220);
   font-size: 0.9em;
   padding: 1em 0;
   text-align: center;
}